In [1]:
import configparser
import csv
import requests

config = configparser.ConfigParser()
config.read("../config")
api = config["nasdaq"]["api"]
url = f"https://data.nasdaq.com/api/v3/datasets/HKEX/00519.csv?api_key={api}"
csv_file = requests.get(url).content
decoded = csv_file.decode()

# print(decoded)

csv_file = "HKEX.csv" 
with open(csv_file, "w") as f:
    f.write(decoded)

In [2]:
with open(csv_file, "r") as f:
    csv_reader = csv.DictReader(f)
    data = list(csv_reader)
data[:3]

[{'Date': '2022-10-10',
  'Nominal Price': '0.093',
  'Net Change': '',
  'Change (%)': '',
  'Bid': '0.088',
  'Ask': '0.093',
  'P/E(x)': '',
  'High': '',
  'Low': '',
  'Previous Close': '0.093',
  'Share Volume (000)': '0.0',
  'Turnover (000)': '0.0',
  'Lot Size': ''},
 {'Date': '2022-10-07',
  'Nominal Price': '0.093',
  'Net Change': '',
  'Change (%)': '',
  'Bid': '0.088',
  'Ask': '0.093',
  'P/E(x)': '',
  'High': '0.093',
  'Low': '0.087',
  'Previous Close': '0.093',
  'Share Volume (000)': '45.0',
  'Turnover (000)': '4.0',
  'Lot Size': ''},
 {'Date': '2022-10-06',
  'Nominal Price': '0.093',
  'Net Change': '',
  'Change (%)': '',
  'Bid': '0.089',
  'Ask': '0.094',
  'P/E(x)': '',
  'High': '',
  'Low': '',
  'Previous Close': '0.093',
  'Share Volume (000)': '0.0',
  'Turnover (000)': '0.0',
  'Lot Size': ''}]

In [3]:
sum([float(l["Previous Close"]) for l in data]) / len(data)

0.38408966493629215

In [4]:
import pandas as pd

data = pd.read_csv(csv_file, index_col=0, parse_dates=True)
data

,Nominal Price,Net Change,Change (%),Bid,Ask,P/E(x),High,Low,Previous Close,Share Volume (000),Turnover (000),Lot Size
Date,,,,,,,,,,,,
2022-10-10,0.093,NaN,NaN,0.088,0.093,NaN,NaN,NaN,0.093,0.0,0.0,NaN
2022-10-07,0.093,NaN,NaN,0.088,0.093,NaN,0.093,0.087,0.093,45.0,4.0,NaN
2022-10-06,0.093,NaN,NaN,0.089,0.094,NaN,NaN,NaN,0.093,0.0,0.0,NaN
2022-10-05,0.093,NaN,NaN,0.089,0.097,NaN,NaN,NaN,0.093,0.0,0.0,NaN
2022-10-03,0.093,NaN,NaN,0.089,0.093,NaN,0.095,0.090,0.095,250.0,23.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-02-27,0.500,0.025,5.263,0.500,0.510,NaN,0.500,0.460,0.475,2555.0,1235.0,5000.0
2014-02-26,0.475,0.015,3.261,0.470,0.475,NaN,0.480,0.455,0.460,365.0,172.0,5000.0
2014-02-25,0.460,0.005,1.099,0.445,0.470,NaN,0.460,0.445,0.455,605.0,275.0,5000.0
2014-02-24,0.455,0.000,0.000,0.455,0.460,NaN,0.455,0.445,0.455,250.0,113.0,5000.0
2014-02-21,0.455,0.000,0.000,0.440,0.460,NaN,NaN,NaN,0.455,0.0,0.0,5000.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2119 entries, 2022-10-10 to 2014-02-21
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nominal Price       2119 non-null   float64
 1   Net Change          905 non-null    float64
 2   Change (%)          905 non-null    float64
 3   Bid                 2096 non-null   float64
 4   Ask                 2103 non-null   float64
 5   P/E(x)              517 non-null    float64
 6   High                1868 non-null   float64
 7   Low                 1868 non-null   float64
 8   Previous Close      2119 non-null   float64
 9   Share Volume (000)  2119 non-null   float64
 10  Turnover (000)      2118 non-null   float64
 11  Lot Size            905 non-null    float64
dtypes: float64(12)
memory usage: 215.2 KB

In [6]:
data.describe()

,Nominal Price,Net Change,Change (%),Bid,Ask,P/E(x),High,Low,Previous Close,Share Volume (000),Turnover (000),Lot Size
count,2119.000000,905.00000,905.000000,2096.000000,2103.000000,517.000000,1868.000000,1868.000000,2119.000000,2119.000000,2118.000000,905.0
mean,0.383894,0.01177,2.491261,0.377200,0.387578,39.774062,0.417305,0.396731,0.384090,5969.304389,3159.188857,5000.0
std,0.219328,0.01916,3.717607,0.220507,0.221104,41.852660,0.223335,0.213373,0.219251,18108.605038,9144.899491,0.0
min,0.093000,-0.08000,-12.121000,0.077000,0.093000,2.540000,0.093000,0.087000,0.093000,0.000000,0.000000,5000.0
25%,0.179000,0.00000,0.000000,0.164500,0.182500,3.430000,0.200000,0.193000,0.179000,215.000000,47.000000,5000.0
50%,0.365000,0.01000,1.538000,0.355000,0.365000,4.310000,0.385000,0.370000,0.365000,1525.000000,515.500000,5000.0
75%,0.580000,0.01500,3.448000,0.580000,0.590000,84.440000,0.620000,0.590000,0.580000,5216.500000,2202.250000,5000.0
max,1.000000,0.14000,34.483000,0.990000,1.000000,117.780000,1.010000,0.900000,1.000000,439885.000000,129146.000000,5000.0